doctype 5
html(lang="en")
    head
        title callBack SplashPage
        link(rel='stylesheet', href='css/main.css')
    body
        div#content
        script(data-main="js/boot", type="text/javascript", src="js/libs/require.js")
