<div style='border: 1px black solid'>
	<span>Testing panel</span><br/>
	<button id="populate_sample_users">Populate users</button><br/>
	<button id="show_users">Show users</button><br/>
	<button id="remove_users">Remove users</button><br/>
	<br/>
	<button id="populate_sample_tasks">Populate tasks</button><br/>
	<button id="show_tasks">Show tasks</button><br/>
	<button id="remove_tasks">Remove tasks</button><br/>
	<br/>
	<button id="remove_everything">Remove everything</button>
	<br/>
	<br/>
	<fieldset>
		<legend>Add task</legend>
		<span>Task name: </span><input name='task_name'/><br/>
		<span>Delegate to: </span><input name='delegate'/><br/>
		<button id="add_task">Add task</button>
	</fieldset>
</div>
